@import '../utilities/values.scss';


$article-list-height: 300px;

.article-list {
    display: flex;
    justify-content: center;
}

.article-block {
    // border: 1px solid #e6e0e0;
    background: white;
    transition: transform .2s;
    height: $article-list-height;
    margin-bottom: 4rem;
    box-shadow: 0 0 15px #441f1f;
    // border-radius: 10px;

    .article-img {
        // border-radius: 10px;
    }

    .img-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        // border-radius: 10px;
        background: linear-gradient(to top right, black 30%, white);
        opacity: .3;
    }

    &:hover {
        transform: scale(1.1, 1.1);
    }

    h2 {
        color: $secondary-color;
        max-height: 75px;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    @media screen and (max-width: 400px){
        width: 90%;
    }
    @media screen and (min-width: 400px) and (max-width: 500px){
        width: 80%;
    }
    @media screen and (min-width: 500px) and (max-width: $xs-width){
        width: 55%;
    }
    @media screen and (min-width: $xs-width) and (max-width: $sm-width){
        width: 50%;
    }
    @media screen and (min-width: $sm-width) and (max-width: $md-width) {
        width: 70%;
    }
    @media screen and (min-width: $md-width) and (max-width: 1420px) {
        width: 60%;
    }
    @media screen and (min-width: 1420px) and (max-width: $lg-width) {
        width: 75%;
    }
    @media screen and (min-width: $lg-width) {
        width: 65%;
    }
}

.article-img {
    width: 100%;
    height: 100%;
    transition: transform .2s;
    object-fit: cover;
}

.article-content {
    bottom: 0;
    width: 100%;
}

.article-content-details {
    background: rgba(255, 255, 255, .6);
    // border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.article-date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: rgba(0, 0, 0, .3);
    padding: 1rem;
}

.article-categories {
    position: absolute;
    top: 10px;
    left: 10px; 

    img {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}