@import '../utilities/values.scss';

.article-details-img {
    width: 100%;

    @media screen and (max-width: $md-width){
        height: 400px;
    }
    @media screen and (min-width: $md-width){
        height: 700px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article-details-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to top, transparent 70%, rgba(0, 0, 0, 1.2));
}

.article-details-block {
    position: relative;
    background: white;
    box-shadow: 0 0 38px #776e6e;

    @media screen and (max-width: $md-width){
        top: -85px;
    }
    @media screen and (min-width: $md-width){
        top: -75px;
    }
}

.article-details-tag {
    display: inline-block;
    @media screen and (max-width: $sm-width){
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (min-width: $sm-width){
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-right: 15px solid $primary-color;
        display: inline-block;
        position: relative;
        top: 13px;
    }
    a {
        padding: .5rem 1rem;
        background: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 0 5px 5px 0;
    }
}

.article-details-action {
    text-align: right;

    img {
        @media screen and (max-width: $sm-width){
            width: 24px
        }
        @media screen and (min-width: $sm-width){
            width: 32px;
        }
    }
}

.article-content-details {
    h2 {
        font-weight: bold;
    }
}

.tag-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 200px 50px 0;
    border-color: transparent #007bff transparent transparent;
    display: inline-block;
  }