p {
    color: black;
}


// ----------------
// Screen hide
// ----------------

.hide-xs {
    @media screen and (max-width: $xs-width) {
        display: none !important;
    }
}

.hide-sm {
    @media screen and (min-width: $xs-width) and (max-width: $sm-width) {
        display: none !important;
    }
}

.hide-md {
    @media screen and (min-width: $sm-width) and (max-width: $md-width) {
        display: none !important;
    }
}

.hide-lg {
    @media screen and (min-width: $md-width) {
        display: none !important;
    }
}


// ----------------
// Display
// ----------------

.hidden {
    display: none;
}

.li-inline {
    li {
        display: inline-block;
    }
}

// ----------------
// Text
// ----------------

.text-decoration-none {
    text-decoration: none !important;
}

.font-brush {
    font-family: eclipse;
}


// ----------------
// Colors
// ----------------

.primary-color {
    color: $primary-color !important;

    &:hover {
        color: $primary-color;
    }
}

.secondary-color {
    color: $secondary-color !important;

    &:hover {
        color: $secondary-color;
    }
}

.third-color {
    color: $third-color !important;

    &:hover {
        color: $third-color;
    }
}

.darker-color {
    color: $darker-color !important;

    &:hover {
        color: $darker-color;
    }
}

.white-color {
    color: white !important;
    
    &:hover {
        color: white;
    }
}

// ----------------
// Container
// ----------------
.header-container-padding {
    padding-top: $header-height;
}

.container-margin {
    @media screen and (max-width: $md-width){
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    @media screen and (min-width: $md-width){
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

// ----------------
// Line
// ----------------

.gradient-back-to-primary {
    border-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    border-top-style: solid;
    border-image: linear-gradient(0.25turn, black, $primary-color, black) 1 0%;
    border-top: none
}

.vertical-hr {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: block;
    }
}


// ----------------
// Button & input
// ----------------

.btn-primary {
    background: $primary-color !important;
    border: 1px solid $primary-color !important;

    &:focus {
        box-shadow: none !important;
    }
}

.btn-primary-border {
    background: white !important;
    border: 1px solid $primary-color !important;

    &:focus {
        box-shadow: none !important;
    }
}

.input-form {
    padding: .5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
}