// ----------------
// Variable screen's size
// ----------------

$lg-width: 1500px; // (1200 - 1500)
$md-width: 1200px; // (992 - 1200)
$sm-width: 992px; // (767 - 992)
$xs-width: 767px; // (0 - 767)